[general]
import = ["~/dotfiles/alacritty/.config/alacritty/themes/github_dark_default.toml"]

[env]
LANG = "en_US.UTF-8"
LC_CTYPE = "en_US.UTF-8"
TERM = "xterm-256color"

[font]
size = 17

[font.normal]
family = "MesloLGS NF"

#############################
# Normal bindings
#############################
[[keyboard.bindings]]
action = "IncreaseFontSize"
key = "Numpad6"
mods = "Control"

[[keyboard.bindings]]
action = "IncreaseFontSize"
key = "="
mods = "Control"

[[keyboard.bindings]]
action = "DecreaseFontSize"
key = "Numpad9"
mods = "Control"

[[keyboard.bindings]]
action = "DecreaseFontSize"
key = ")"
mods = "Control"

[[keyboard.bindings]]
action = "ResetFontSize"
key = "Numpad0"
mods = "Control"

[[keyboard.bindings]]
action = "ResetFontSize"
key = "à"
mods = "Control"

[[keyboard.bindings]]
action = "None"
key = "NumpadAdd"
mods = "Control"

[[keyboard.bindings]]
action = "None"
key = "NumpadSubtract"
mods = "Control"

[[keyboard.bindings]]
action = "None"
key = "NumpadSubtract"
mods = "Control"

[[keyboard.bindings]]
action = "None"
key = "F"
mods = "Control|Shift"

#############################
# Bindings for Neovim
# Special trick to use these special characters in Neovim as mapping because Ctrl-Shift-Letter does not work...
# Use this table: https://en.wikipedia.org/wiki/Miscellaneous_Symbols
#############################
[[keyboard.bindings]]
key = "L"
chars = "\u2600" # ☀
mods = "Control|Shift"

[[keyboard.bindings]]
chars = "\u2660" # ♠
key = "W"
mods = "Control|Shift"

[[keyboard.bindings]]
chars = "\u2601" # ☁
key = "J"
mods = "Command"

[[keyboard.bindings]]
chars = "\u2602" # ☂
key = "J"
mods = "Command|Shift"

[[keyboard.bindings]]
chars = "\u2603" # ☃
key = "Left"
mods = "Command|Control|Shift"

[[keyboard.bindings]]
chars = "\u2604" # ☄
key = "Right"
mods = "Command|Control|Shift"

[[keyboard.bindings]]
chars = "\u2605" # ★
key = "Up"
mods = "Command|Control|Shift"

[[keyboard.bindings]]
chars = "\u2607" # ☇
key = "&"
mods = "Command"

#############################
# Bindings for Mac
#############################
# Simulate ALT-d (remove word from cursor to the end of the word)
[[keyboard.bindings]]
chars = "\u001Bd"
key = "D"
mods = "Command"

# Simulate ALT-backspace (remove word from cursor to the beginning of the word)
[[keyboard.bindings]]
chars = "\u0017"
key = "Backspace"
mods = "Command"

#############################
# Bindings to run scripts
#############################
[[keyboard.bindings]]
key = "P"
mods = "Control"

[keyboard.bindings.command]
args = ["-c", "~/dotfiles/alacritty/.config/alacritty/scripts/toggle_theme.sh"]
program = "bash"
