# Alacritty
alacritty/.config/alacritty/*.bak
alacritty/.config/alacritty/themes/theme.toml

# Brave
BraveSoftware

# i3
i3/.config/i3/build

# IntelliJ
.idea/

# k9s
k9s/.config/k9s/clusters/
k9s/.config/k9s/*.log

# Karabiner
karabiner/.config/karabiner/automatic_backups

# Lazygit
lazygit/.config/lazygit/state.yml

# Mac
.DS_Store

# Misc
ignore_tmp/

# Nvim
nvim/.config/nvim/scretch
nvim/.config/nvim/spell/*.add
nvim/.config/nvim/spell/*.add.spl
nvim/.config/nvim/undodir

# Raycast
raycast/scripts/jira.sh
raycast/scripts/get-ansible-vault-secret.sh

# thefuck
thefuck/.config/thefuck/__pycache__

# tmux
tmux/.config/tmux/plugins
