# IntelliJ
.idea/

# i3
i3/.config/i3/build

# tmux
tmux/.config/tmux/plugins

# thefuck
thefuck/.config/thefuck/__pycache__

# Alacritty
alacritty/.config/alacritty/*.bak

# Nvim
nvim/.config/nvim/scretch
nvim/.config/nvim/spell/

# Lazygit
lazygit/.config/lazygit/state.yml
