[Unit]
Description=Alert in case of low remaining battery

[Service]
Type=oneshot
ExecStart=/usr/local/bin/notify-low-battery

[Install]
WantedBy=graphical.target
