[Unit]
Description=Check battery capacity every 2 minutes to warn the user in case of low battery

[Timer]
OnActiveSec=1s
OnUnitActiveSec=2m

[Install]
WantedBy=timers.target
